.process-wrap {
  width: 600px;
  margin: auto;

  .badge {
    display: inline-block;
    min-height: 10px;
    padding: 3px 7px;
    border: 1px solid #337AB7;
    border-radius: 10px;
    color: #337AB7;
    font-size: 12px;
    cursor: pointer;
    transition: all .3s ease-out;

    &:hover {
      background-color: #337AB7;
      color: #fff;
    }
  }
}
